doctype html
html(lang='en')
  head
    title PAGE
    meta(charset='utf-8')
    link(href="main.css", rel="stylesheet")
 
  body
    div#main
    p Copyright (c)
    
  script(src='app.js' type="text/javascript")
  //-block content 